# Dependencies
node_modules/
.npm

# Build Outputs
dist/
build/
*.log

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / System Files
.vscode/
.idea/
.DS_Store
thumbs.db

# Docker
docker-compose.override.yml

# Backend Specific
server/node_modules/
server/.env

# Frontend Specific
client/node_modules/
client/dist/

# Documentation & Assets (Personal)
*.txt
*.jpeg
*.jpg
*.png
